 <!DOCTYPE html>
 <html ng-app="vanGogu">

 <head>
 	<title>Van Gogu</title>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 	<script data-require="angular.js@1.2.7" data-semver="1.2.7" src="http://code.angularjs.org/1.2.7/angular.js"></script>

 	<link href="/stylesheets/style_sass.css" rel="stylesheet" />
 	<link href="/stylesheets/style.css" rel="stylesheet" />
 	<script src="/javascripts/script.js"></script>

 	<script src="/javascripts/ui-bootstrap-tpls-0.14.3.js"></script>
 </head>
 <body>

 	<div ng-controller="vanGoguCtrl">	
 		<ul class="matrix">
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 			<li></li>
 		</ul>

 		<div ng-hide="imageReady" style="margin-top: -500px; position: relative; z-index: 1;">
 			<input list="colorSchemes" style="width: 300px; color: #140011; font-size: 20px; font-weight: bold" ng-model="colorScheme" min=0 max=4 placeholder="Select color scheme">
  			<datalist id="colorSchemes">
  			  	<option value="Spring">
  			  	<option value="Summer">
  			  	<option value="Autumn">
  			  	<option value="Winter">
  			  	<option value="Alien">
  			</datalist>

 			<a href="#" class="myButton" ng-click="getPhoto()">Do the magic</a>
 			<div id="progressbar"><div id="progress" ><div id="pbaranim"></div></div></div>
 		</div>

 		<h1 id="brace">
 			<span> B </span>
 			<span> R </span>		
 			<span> A </span>
 			<span> C </span>
 			<span> E </span>
 		</h1>  

 		<h1 id="yourselves">
 			<span> Y </span>
 			<span> O </span>		
 			<span> U </span>
 			<span> R </span>
 			<span> S </span>
 			<span> E </span>
 			<span> L </span>		
 			<span> V </span>
 			<span> E </span>
 			<span> S </span>
 			<span> ! </span>				
 		</h1> 

 		<h1 id="fractals">
 			<span> V </span>
 			<span> A </span>		
 			<span> N </span>
 			<br>
 			<span> G </span>
 			<span> O </span>
 			<span> G </span>
 			<span> U </span>		
 		</h1> 

 		<h1 id="are">						
 			<span> I </span>
 			<span> S </span>
 		</h1>  

 		<h1 id="coming">
 			<span> C </span>
 			<span> O </span>		
 			<span> M </span>
 			<span> I </span>
 			<span> N </span>
 			<span> G </span>		
 			<span> ! </span>				
 		</h1>						

 		<div ng-show="imageReady" id="fullScreen"></div>
 		<img ng-show="imageReady" ng-src='/images/result/{{imageName}}' ng-click="deleteImg(); imageReady=false">
 	</div>
 </body>

 </html>


